#fig1 {
 background-image:  url("figure/img_6940.jpg");
 background-repeat: repeat-x;
 height: 100%;
 width: 100%;
}
#fig2 {
 background-image: url("figure/Ratu-Boko-Yogya.jpg");
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
}